@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
   -moz-appearance: none !important; 
    -webkit-appearance: none !important; 
    appearance: none !important; 

}

.main {
  padding: 1rem;
  
}

#swatch-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  width: 100%;
  margin-top: .8rem;
}

.swatch-circle {
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #5a5a5a;
}

.btn-pill.active {
border-style: solid !important;
    background-color: #cf3279;
}
#color-title .btn-pill.active {
border-style: solid !important;
  border-width:1px;
border:5px solid rgb(45, 30, 218);

    background-color: #cf3279;
}
#color-title .btn-pill{
border:0px;
}
.btn-pill {
  border-radius: 50%;
  min-width: 26px;
  max-width: 26px;
  height: 26px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: .5rem;
  cursor: pointer;
  text-transform: uppercase;
  background:transparent;
  display:block;
    border: 1px dashed #e8b2cc;
    color: #e8b2cc;
    font-size: .50rem;
}

.color_cafe_creme {
  background-color: #E9B9B9;
}

.color_racing_red {
  background-color: #E40F0F;
}

.color_green {
  background-color: #0BDC05;
}

.color_blue {
  background-color: #0048FF;
}

.color_pink {
  background-color: #F5CBDD;
}

.color_purple {
  background-color: #DB54E6;
}

.color_gold {
  background-color: #DFD20A;
}

.color_silver {
  background-color: #C2BBBB;
}




.length,.width,.color{
  display:flex;
  align-items:center;
  margin-bottom:0.75rem;
}
.length p,.width p,.color p{
  width:70px;
  margin-right:1rem;
}
#length-title,
#width-title,
#color-title{
  display:flex;
}